.tree-container {
  width: 500px;
  margin: 50px auto;
}
.ml-20 {
  margin-left: 46px;
}
.tree-item {
  display: flex;
  align-items: center;
}
.icon {
  transition: 0.2s ease-in;
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}
.icon:hover {
  background-color: #ccc;
}
.icon.active {
  transform: rotate(90deg);
}
input[type="check-box"] {
  width: 40px;
}
