.tree-container {
  width: 500px;
  margin: 50px auto;
}
.ml-20 {
  margin-left: 46px;
}
.tree-item {
  display: flex;
  align-items: center;
}
.icon {
  font-size: 14px;
  transition: 0.2s ease-in;
}
.icon-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
}
.icon-wrapper:hover {
  background-color: #ececec;
}
.icon.active {
  transform: rotate(90deg);
}
input[type="check-box"] {
  width: 40px;
}
