.tree-container {
  width: 500px;
  margin: 50px auto;
}
.ml-20 {
  margin-left: 46px;
}
.tree-item {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}
.icon {
  font-size: 14px;
  transition: 0.2s ease-in;
}
.icon-wrapper {
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 2px;
}
.icon-wrapper:hover {
  background-color: #ececec;
}
.icon.active {
  transform: rotate(90deg);
}
input[type="check-box"] {
  width: 40px;
}
.checkbox-custom {
  width: 16px;
  height: 16px;
  border-radius: 4px;
  border: 1px solid #a6a6a6;
}

.icon-checked {
  width: 100%;
  height: 100%;
  background-color: rgb(76, 76, 255);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2;
}
.icon-checked i {
  font-size: 6px;
}
