.tree-container {
  width: fit-content;
  margin: 50px 0px 0px 50px;
}
.ml-20 {
  margin-left: 40px;
}
i {
  transition: 0.2s ease-in;
  margin-right: 20px;
  font-size: 20px;
}
i.active {
  transform: rotate(90deg);
}
