.tree-container {
  width: 500px;
  margin: 50px auto;
}
.ml-20 {
  margin-left: 46px;
}
.tree-item {
  display: flex;
  align-items: center;
}
.icon {
  transition: 0.2s ease-in;
  margin-right: 14px;
  font-size: 14px;
}
.icon.active {
  transform: rotate(90deg);
}
input[type="check-box"] {
  width: 40px;
}
