.tree-container {
  width: 500px;
  margin: 50px auto;
}
.ml-20 {
  margin-left: 46px;
}
i {
  transition: 0.2s ease-in;
  margin-right: 14px;
  font-size: 20px;
}
i.active {
  transform: rotate(90deg);
}
input[type="check-box"] {
  width: 40px;
}
